.header {
  background-color: #333333;
  display: flex;
  align-items: center;
  gap: 1.5rem;

  nav {
    display: flex;
    justify-content: center;
    gap: 1rem;

    a {
      text-decoration: none;
      color: #fff;
      font-size: 0.9rem;
      padding: 0.2rem;
      transition: 0.2s;

      &:hover {
        background-color: #262626;
        border-radius: 0.2rem;
      }
    }
  }

  a {
    display: flex;
    align-items: center;

    img.logo {
      width: 100px;
    }
  }
}

@media (max-width: 350px) {
  .header {
    gap: 1rem;
    nav {
      a {
        text-decoration: none;
        color: #fff;
        font-size: 0.8rem;
        padding: 0.2rem;
        transition: 0.2s;

        &:hover {
          background-color: #262626;
          border-radius: 0.2rem;
        }
      }
    }

    a {
      img.logo {
        width: 80px;
      }
    }
  }
}
