/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #D6B82B;
}

.button-primary {
  background-color: #333333;
  color: #fff;
}

.middle {
  vertical-align: middle;
}

.msg-success {
  background-color: #28a745;
  color: #fff;
}

.msg-error {
  background-color: rgb(227, 94, 107);
  color: #fff;
}
